<!DOCTYPE html>
<html lang="en-US">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="cusLanding.css">


    </head>
    <body>


        <nav class="navbar my-nav navbar-expand-lg navbar-dark bg-light">
            <div class="container" style="max-width: 72%">
                <a class="navbar-brand ml-5" href="/"><img src="logoo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="navbar-nav ml-auto form-inline">
                        <a class="btn btn-outline-light custButton homebuttons" href="/login">Login</a>
                        <a class="btn btn-outline-light custButton homebuttons" href="/register">Register</a>
                    </form>
                </div>
            </div>
        </nav>



        <div class="jumbotron">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-sm d-none d-xl-inline">
                        <img src="maan.png" alt="man pointing to endorsement text" class="hidden-md">

                    </div>
                    <div class="col-sm alignment">
                            <h1 id="header" class="display-4">Be your own BOSS!!!</h1>
                            <p class="mt-5" >Ever wished for freedom of doing what you like at the time you desire?
                                    </p>

                            <p>With us, this is possible! For more details, continue reading below!</p>
                            <a class="btn btn-outline-danger btn-lg mt-4 hotlinks" href="#middle">Read More..</a>


                    </div>
                </div>

            </div>

        </div>
        <div class="container">
            <div id="middle">
                <div class="headerSub mb-3 mt-4">HOW TO JOIN US?</div>
                The answer to this is as easy as it can get! Register with us as a Life Insurance Agent!
                Wait! Before you close this tab after reading the word "Insurance Agent", please do look at our next point!
            </div>
            <hr>
            <div>
                <div class="headerSub mb-3 mt-4">WHY BE A LIFE INSURANCE AGENT?</div>
                There are numerous perks of being a Life Insurance Agent! Some of them are listed below:
                <ul>
                    <li>Start earning quickly:  No waiting for any extra set of qualifications.</li>
                    <li>Choose your environment: You've got total control of where you want to work!</li>
                    <li>Earning Potential: No limiters on your earnings!</li>
                    <li> Stability and Advancement: Ever increasing accidents have made people more conscious towards Life Insurance which has further improved the stability of agents.</li>
                </ul>
                
                
                
                
               
            </div>
            <hr>
            <div>
                <div class="headerSub mb-3 mt-4">HOW TO BE A LIFE INSURANCE AGENT?</div>
                Just follow four simple steps:<br>
                <b>STEP 1:</b> Complete pre-licensure requirements: The licensing exams demand a variety of requirements which are needed to participate in the licensure exams.<br>
                <b>STEP 2:</b> Pass licensing exam: You would need to pass the IRDA Life Insurance Agent licensing exam (IC38) conducted by Insurance Institute of India. For more details, visit https://www.insuranceinstituteofindia.com . <br>
                <b>STEP 3:</b> Complete the state regulatory requirements: You need to satisfy some requirements of the state in which you want to work as an agent before you can do so. <br>
                <b>STEP 4</b>: Apply for the interview with us after registering!
            </div>
            <br><br>
            <a class="hotlinks" href='/admin/login'>LOGIN AS ADMIN</a>
            
        </div>
        

<div id="google_translate_element"></div>

        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="client.js" async defer></script>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        <script type="text/javascript">(function(t,e){var r=function(t){try{var r=e.head||e.getElementsByTagName("head")[0];a=e.createElement("script");a.setAttribute("type","text/javascript");a.setAttribute("src",t);r.appendChild(a);}catch(t){}};t.CollectId = "5c7b79079c0ec315cb829e10";r("https://collectcdn.com/launcher.js");})(window,document);</script>
    </body>
</html>