<!DOCTYPE html>
<html lang="en-US">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Signika:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../admin_login.css">
    </head>
    <body>
        <!-- navbar-->

        <nav class="navbar my-nav navbar-expand-lg navbar-light bg-light">
            <div class="container" style="max-width: 72%">
                <a class="navbar-brand ml-5" href="/"><img src="../logoo.png"></a>
            </div>
        </nav>

    <div id="full-container"> 
         <!-- form -->
        <div id="wholeBody" class="container">
            <form action="/reset/<%= token %>" method="POST">
                <legend>Reset Password</legend>
                <div class="form-row">
                    <div class="col-sm-12 col-md-4 form-group">
                        <label for="password">New Password:</label>
                        <input name="password" type="password" class="form-control" id="password" pattern=".{8,16}" placeholder="Password *" required title="8 to 16 characters">
                    </div>
                    <div class="col-sm-12 col-md-4 form-group">
                        <label for="password">Confirm Password:</label>
                        <input name="confirm" type="password" class="form-control" id="password" pattern=".{8,16}" placeholder="Password *" required title="8 to 16 characters">
                    </div>
                    
                </div>


                <div class="container d-flex flex-column justify-content-around mt-4 mb-5">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Update Password</button>
                </div>


            </form>
        </div>
    </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
 new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    </body>
</html>