body {
    font-family: 'Signika', sans-serif;
}

.my-nav {
    background-color:rgb(197,35,25) !important;
    min-height: 90px;
}


#wrapper2 {
    display: flex;
    justify-content: center;
}

a.hotlinks {
    text-decoration: none;
}

a.hotlinks:hover {
    color: rgb(197,35,25);
}


.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}