.my-nav {
    background-color:rgb(197,35,25) !important;
    min-height: 90px;
}

.favicon {
    color: #C52319;
}

.jumbotron{


	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: no-repeat;
    background: linear-gradient(to bottom, #f4f4f4 0%,#f4f4f4 36%,#fcfcfc 57%);

}

#header {
    color: rgb(197,35,25);
    font-size: 5rem;
    margin-top: 4.5rem;
}

.hotlinks {
    text-decoration: none !important;
    color: rgb(197,35,25);
    font-weight: none;
}

body {

    font-family: 'Signika', sans-serif;
    font-size: 1.1rem;

}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



.headerSub {
    font-size: 1.6rem;
    color: rgb(197,35,25);

}

.row-items {
    text-align: center;
}

.margin {
    margin-right: 25px;
}

.custButton {
    border-radius: 13px;
    margin-top: 8px;
    margin-right: 22px;
}

.alignment {
    text-align: center;
}
@media screen and (max-width:525px){
    
.man{
    display: none !important;
}
.navbar-collapse{
    height: 2rem;
}
}
