
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Signika', sans-serif;
    /* background-color: #dddedd; */
    background-color: #dddedd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23dddedd' width='11' height='11'/%3E%3Crect fill='%23dedfde' x='10' width='11' height='11'/%3E%3Crect fill='%23dedfde' y='10' width='11' height='11'/%3E%3Crect fill='%23dfe0df' x='20' width='11' height='11'/%3E%3Crect fill='%23dfe0df' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23e0e1e0' y='20' width='11' height='11'/%3E%3Crect fill='%23e0e1e0' x='30' width='11' height='11'/%3E%3Crect fill='%23e1e2e1' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23e2e2e2' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23e2e3e2' y='30' width='11' height='11'/%3E%3Crect fill='%23e3e4e3' x='40' width='11' height='11'/%3E%3Crect fill='%23e3e4e3' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23e4e5e4' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23e4e5e4' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23e5e6e5' y='40' width='11' height='11'/%3E%3Crect fill='%23e6e6e6' x='50' width='11' height='11'/%3E%3Crect fill='%23e6e7e6' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e7e7e7' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e7e8e7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e8e9e8' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e8e9e8' y='50' width='11' height='11'/%3E%3Crect fill='%23e9eae9' x='60' width='11' height='11'/%3E%3Crect fill='%23eaeaea' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23eaebea' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23ebebeb' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23ebeceb' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23ececec' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23ecedec' x='70' width='11' height='11'/%3E%3Crect fill='%23edeeed' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23eeeeee' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23eeefee' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23efefef' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23eff0ef' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23f0f0f0' x='80' width='11' height='11'/%3E%3Crect fill='%23f0f1f0' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23f1f1f1' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23f2f2f2' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23f2f3f2' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23f3f3f3' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23f3f4f3' x='90' width='11' height='11'/%3E%3Crect fill='%23f4f4f4' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23f5f5f5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23f5f5f5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23f6f6f6' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23f6f7f6' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f7f7f7' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f7f8f7' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f8f8f8' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f9f9f9' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f9f9f9' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23fafafa' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23fafafa' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23fbfbfb' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23fcfcfc' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23fcfcfc' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23fdfdfd' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23fdfdfd' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23fefefe' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fefefe' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23ffffff' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;

}

p {
    font-family: 'Signika', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    /* color: #999; */
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #c52319;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #c52319;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.my-nav {
    background-color:rgb(197,35,25) !important;
    min-height: 90px;
}

#dashHead {
    font-size: 1.8rem;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}